



<h3 class="first">Article</h3>
<div class="ui-g">
  <div [ngClass]="['ui-g-12']">
    <span class="ui-float-label">
      <input id="title-input" type="text" [(ngModel)]="article.title" size="40"  pInputText>
      <label for="title-input">Title</label>
    </span>
  </div>
  <div [ngClass]="['ui-g-12']">
    <span class="ui-float-label">
      <input id="author-input" type="text" [(ngModel)]="article.author" size="40" pInputText>
      <label for="author-input">Author</label>
    </span>
  </div>
  <div [ngClass]="['ui-g-12']">
    <span class="ui-float-label">
      <input id="body-input" type="text" [(ngModel)]="article.body" size="40" pInputText>
      <label for="body-input">Body</label>
    </span>
  </div>
  <div [ngClass]="['ui-g-12']">
    <span class="ui-float-label">
      <p-calendar id="date-input" [(ngModel)]="article.date"></p-calendar>
      <label for="date-input">Date</label>
    </span>
  </div>
  <div [ngClass]="['ui-g-12']">
    <span class="ui-float-label">
      <input id="header-input" type="text" [(ngModel)]="article.header" size="40" pInputText>
      <label for="header-input">Header</label>
    </span>
  </div>
  <div [ngClass]="['ui-g-12']">
    <span class="ui-float-label">
      <input id="image-input" type="text" [(ngModel)]="article.image" size="40" pInputText>
      <label for="image-input">Image</label>
    </span>
  </div>
  <div [ngClass]="['ui-g-12']">
      <p-fileUpload id="file" name="file" url="/upload"  accept="image/*" maxFileSize="1000000" showUploadButton=true (uploadHandler)="myUploader($event)" (onUpload)="uploaded($event)"></p-fileUpload>
  </div>
  <div [ngClass]="['ui-g-12']">
    <p-editor [(ngModel)]="article.content" [style]="{'height':'520px'}"></p-editor>
  </div>
  <p-button label="Add" (click)="addArticle()"></p-button>
</div>


<div class="form-group">
  <label for="file">Choose File</label>
  <input type="file"
         id="file"
         (change)="handleFileInput($event.target.files)">
</div>



<form (ngSubmit)="myUploader(event)" method="post" enctype="multipart/form-data" action="/upload">
  <input type="hidden" name="msgtype" value="2"/>
  <input type="file" name="images" />
  <input type="submit" value="Upload" />
  <button type="submit">Submit</button>
</form>