<p>
  login-signup works!
</p>
<div>
  <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
    <div [ngClass]="['']">
      <div [ngClass]="['ui-g']">
        <div [ngClass]="['ui-g-12 ui-md-4 ui-md-offset-4 ']">
          <p-panel header="Login">
            <p>{{message}}</p>
            <p-messages [(value)]="msgs"></p-messages>
            <div [ngClass]="['ui-g-12']">
              <span class="ui-float-label">
                <input type="text" [ngClass]="['form-control']" [(ngModel)]="email" name="email" required pInputText>
                <label for="email-input">Email</label>
              </span>
            </div>
            <div [ngClass]="['ui-g-12']">
              <span class="ui-float-label">
                <input type="password" [ngClass]="['form-control']" [(ngModel)]="password" name="password" required pInputText>
                <label for="password-input">Password</label>
              </span>
            </div>
            <div [ngClass]="['ui-g-12']">
              <span class="ui-float-label">
                <input type="password" [ngClass]="['form-control']" [(ngModel)]="repassword" name="repassword" required pInputText>
                <label for="repassword-input">re-Password</label>
              </span>
            </div>
            <button [ngClass]="['btn', 'btn-primary']" type="submit">Sign Up</button>

            <p-progressSpinner *ngIf="doSpin" [style]="{width: '25px', height: '25px'}" strokeWidth="5"></p-progressSpinner>
          </p-panel>

        </div>

      </div>
    </div>
  </form>
</div>