<div>
  <p>
    user-payment-order works!
  </p>
  <script type="text/javascript" src="htmlLink | safe: 'resourceUrl'"></script>
  <div [innerHtml]="html | safe: 'html'"></div>
  <script type="text/javascript" [src]="htmlLink2| safe: 'resourceUrl'"></script>


  <div id="stripe-payment">
    <form action="your-server-side-code" method="POST">
      <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="pk_test_6pRNASCoBOKtIshFeQd4XMUh"
        data-amount="999"
        data-name="Stripe.com"
        data-description="Widget"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="auto"
        data-zip-code="true">
      </script>
    </form>
  </div>



  <script [src]="htmlLink2"></script>
  </div>