<div>
  <!--<p-contextMenu [target]="myArticle" [model]="items"></p-contextMenu>-->
  <a href="#" #myArticle>
    <div class="base">
      <h3 style="text-align: center">{{article.header}}</h3>
      <!--<img width="100%" src="http://lorempixel.com/300/300" alt="No image" />-->
      <img width="100%" [src]="image" alt="No image" />
      <p>{{article.title}}</p>
      <table>
        <tr>
          <td>{{article.author}} | </td>
          <td> {{ article.datePublished | date:format:"shortDate"}}<article class="datePublished"></article></td>
        </tr>
      </table>
    </div>
  </a>
</div>