<!--The content below is only a placeholder and can be replaced.-->
<!--<app-home-master></app-home-master>-->
<nav [ngClass]="['navbar navbar-default']">
    <div class="container">
        <ul [ngClass]="['nav navbar-nav']">
            <li>
                <a routerLink="/homepage" routerLinkActive="active">
                    <span [ngClass]="['fa fa-home fa-2x']"></span> Home</a>
            </li>
            <li>
                <a routerLink="/order" routerLinkActive="active">
                    <span [ngClass]="['fa fa-shopping-cart fa-2x']"></span> Order</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active">
                    <span [ngClass]="['fa fa-lock fa-2x']"></span> Login</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet></router-outlet>