<p>
  admin-article-overview works!
</p>

<div class="container">
  <table [ngClass]="['table table-condensed table-stripped table-hover table-bordered']">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Header</th>
        <th>Content</th>
        <th>Date Created</th>
        <th>Date Published</th>
        <th>Created By</th>
        <th>Active</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let article of allArticles; index as i;">
          <td>{{i+1}}</td>
        <td [ngStyle]="{'background-color': null==article.title?'silver':''}">{{article.title}}</td>
        <td [ngStyle]="{'background-color': null==article.header?'silver':''}">{{article.header}}</td>
        <td [ngStyle]="{'background-color': null==article.content?'silver':''}">{{article.content}}</td>
        <td [ngStyle]="{'background-color': null==article.dateCreated?'silver':''}">{{article.dateCreated | date:format:"shortDate"}}</td>
        <td [ngStyle]="{'background-color': null==article.publishDate?'silver':''}">{{article.publishDate | date:format:"shortDate"}}</td>
        <td [ngStyle]="{'background-color': null==article.createdBy?'silver':''}">{{article.createdBy}}</td>
        <td [ngStyle]="{'background-color': null==article.active?'silver':''}">{{article.active}}</td>
        <td>
          <div class="row">
            <div class="col-md-4 col-lg-4">
              <button [ngClass]="['btn btn-default']" (click)="editArticle(article)">
                <i [ngClass]="['fa fa-edit']"></i>
              </button>
            </div>
            <div class="col-md-4 col-lg-4">
              <button [ngClass]="['btn btn-danger']" (click)="deleteArticle(article.id)">
                <i [ngClass]="['fa fa-trash']"></i>
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

