@import '~bootstrap/dist/css/bootstrap.min.css';
@import 'https://fonts.googleapis.com/css?family=Anton';

.cat-item{
    text-align: center;
    list-style: none;
}

ul{
    padding: 0px;
}

.cat-item-detail{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Anton', sans-serif;
    text-align: center
}

.cat-item-detail:hover{
    background-color: lightgray;
}

a{
    color: orangered;
}

a:hover{
    text-decoration: none;
    color: orangered;
}