<!--<div>
  <div class="">
      <div class=" ui-md ui-g">
        <div class="ui-sm-3 ui-md-2 ui-md-2 no-padding" style="background-color: rgb(24, 21, 21); color: #ffffff;">
          <app-category-item></app-category-item>
        </div>
        <div class="ui-sm-9 ui-md-10 ui-lg-10" style="background-color: lightgray;">
          
          <div class=" ui-g" >
            <div class="ui-sm-12 ui-md-4 ui-lg-3" *ngFor="let article of articles">
              <app-article [article]="article.value"></app-article>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
-->

<div>
  <app-category-item></app-category-item>
  <div class=" ui-g">
    <div class="ui-sm-12 ui-md-4 ui-lg-2" *ngFor="let article of articles">
      <app-article-thumbnail [article]="article.value"></app-article-thumbnail>
    </div>
  </div>
</div>