
<table [ngClass]="['table table-condensed table-stripped table-hover table-bordered']">
  <thead>
    <tr>
      <th></th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Middle Name</th>
      <th>Gender</th>
      <th>Role</th>
      <th>Phone</th>
      <th>Birthday</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of allUsers; index as i;">
        <td>{{i+1}}</td>
      <td [ngStyle]="{'background-color': null==user.value.firstName?'silver':''}">{{user.value.firstName}}</td>
      <td [ngStyle]="{'background-color': null==user.value.lastName?'silver':''}">{{user.value.lastName}}</td>
      <td [ngStyle]="{'background-color': null==user.value.email?'silver':''}">{{user.value.email}}</td>
      <td [ngStyle]="{'background-color': null==user.value.middleName?'silver':''}">{{user.value.middleName}}</td>
      <td [ngStyle]="{'background-color': user.value.gender=='Male'?'lightblue':(user.value.gender=='Female'?'pink':'silver')}">{{user.value.gender=="Male"?"M":(user.value.gender=="Female"?"F":"N/A")}}</td>
      <td [ngStyle]="{'background-color': null==user.value.role?'silver':''}">{{user.value.role}}</td>
      <td [ngStyle]="{'background-color': null==user.value.phone?'silver':''}">{{user.value.phone}}</td>
      <td [ngStyle]="{'background-color': null==user.value.birthDate?'silver':''}">{{user.value.birthDate | date:format:"shortDate"}}</td>
      <td [ngStyle]="{'background-color': user.value.active?'darkseagreen':(user.value.active==false?'lightcoral':'silver')}">{{user.value.active?"Yes":(user.value.active==false?"No":"N/A")}}</td>
      <td>
        <div class="row">
          <div class="col-md-4 col-lg-4">
            <button [ngClass]="['btn btn-default']" (click)="editUser(user.value)">
              <i [ngClass]="['fa fa-edit']"></i>
            </button>
          </div>
          <div class="col-md-4 col-lg-4">
            <button [ngClass]="['btn btn-danger']" (click)="deleteUser(user.id)">
              <i [ngClass]="['fa fa-trash']"></i>
            </button>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>