<div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="col-md-2 no-padding" style="background-color: rgb(24, 21, 21); color: #ffffff;">
        <app-category-item></app-category-item>
      </div>
      <div class="col-md-10" style="background-color: lightgray;">
        <div class="row" >
          <div class="col-md-3" *ngFor="let article of [1,2,3,4,5,6,7,8,9]">
            <app-article></app-article>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>