<p>
  login-signout works!
</p>

<div>
    <div [ngClass]="['']">
      <div [ngClass]="['ui-g']">
        <div [ngClass]="['ui-g-12 ui-md-4 ui-md-offset-4 ']">
          <p-panel header="Login">
            <p>{{message}}</p>
            <p-messages [(value)]="msgs"></p-messages>
            <button [ngClass]="['btn', 'btn-danger']" (click)="logout()" *ngIf="authService.isLoggedIn">
              <span [ngClass]="['fa fa-sign-out']"></span> Logout</button>
              <p-progressSpinner *ngIf="doSpin" [style]="{width: '25px', height: '25px'}" strokeWidth="5" ></p-progressSpinner>
          </p-panel>
          
        </div>
    
      </div>
    </div>
  </div>